In [2]:
#Yifu Ding
#this data was not used in finalsubmission
#takes couple hours to run
import pandas as pd
df = pd.read_csv("cleanDataWithPartiesInflation.csv")

In [3]:
df = df.drop(['cmte_id', 'amount'], axis='columns')
df

         state                  employer  year party     adjusted
0           KY   INSURANCE SALES AND ADM  1979   DEM  3459.963252
1           NY  WILKIE, FARR & GALLAGHER  1979   DEM  1729.981626
2           NY    WENDER, MURASE & WHITE  1979   DEM  3459.963252
3           NY      SMILIN & SAFIER, INC  1979   DEM  1037.988976
4           NY          MUDGE ROSE ET AL  1979   DEM  1729.981626
...        ...                       ...   ...   ...          ...
30489448    DC          THE CALPRO GROUP  2019   DEM   200.000000
30489449    WA             SELF-EMPLOYED  2019   DEM   100.000000
30489450    CA             SELF-EMPLOYED  2019   DEM  2799.999997
30489451    CA     IT'S A WRAPPER! FILMS  2019   DEM  2799.999997
30489452    TX                      SELF  2019   IND    25.000000

[30489453 rows x 5 columns]

In [ ]:
statelist = ['NY', 'AZ', 'CA', 'NV', 'AK', 'HI', 'OR', 'WA', 'ID', 'MT', 'UT', 'WY','CO','NM','TX', 'OK', 'KS',
            'NE','SD','ND','WI','IA','MN','IL','MO','AR','LA','MS','AL','TN','KY','IN','OH','MI','FL','GA',
            'SC', 'NC','VA','WV','MD', 'DE','PA','NJ','CT','RI','MA','VT','NH','MI']
yearlist=[1980,1982,1984,1986,1988,1990,1992,1994,1996,1998,2000,2002,2004,2006,2008,2010,2012,2014,2016,2018,2020]
demlist=[]
replist=[]

In [ ]:
for i in yearlist:
    demstatecount=0
    repstatecount=0
    print(i)
    for j in statelist:
        asd=df.loc[df['party']=='DEM'].loc[df['state']==j].loc[df['year']==i]
        sss=asd['adjusted'] 
        sum1=sum(sss)
        asdd=df.loc[df['party']=='DEM'].loc[df['state']==j].loc[df['year']==(i-1)]
        ssss=asdd['adjusted']
        sum2=sum(ssss)
        sum3=sum1+sum2
        asd=df.loc[df['party']=='REP'].loc[df['state']==j].loc[df['year']==i]
        sss=asd['adjusted']
        sum4=sum(sss)
        asdd=df.loc[df['party']=='REP'].loc[df['state']==j].loc[df['year']==(i-1)]
        ssss=asdd['adjusted']
        sum5=sum(ssss)
        sum6=sum4+sum5
        if (sum6>sum3):
            repstatecount=repstatecount+1
        elif (sum3>sum6):
            demstatecount=demstatecount+1
        print(j)
    demlist.append(demstatecount)
    replist.append(repstatecount)